* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: iran;
  src: url(../fonts/IRANSansLight.woff);
  src: url(../fonts/IRANSansWeb-Light.eot);
  src: url(../fonts/IRANSansWeb-Light.ttf);
  src: url(../fonts/IRANSansWeb-Light.woff2);
}

// css header

.menu {
  width: 100%;
  height: 100px;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 10;

  nav {
    width: inherit;
    height: inherit;

    img {
      margin-left: 50px;
      margin-top: 88px;
      cursor: pointer;
    }
    ul {
      width: inherit;
      height: inherit;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 5px;

      li {
        width: fit-content;
        height: 100%;
        position: relative;
        line-height: 50px;
        font-family: iran;
        margin-top: 68px;

        position: relative;
        .submenu {
          width: 13vw;
          position: absolute;
          padding: 5px 0px;
          box-sizing: border-box;
          display: none;
          background-color: #333;

          ul {
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            li {
              width: 100%;
              text-align: right;
              margin-right: 50px;
              position: relative;
              margin-top: -10px;

              a {
                text-decoration: none;
                color: #afb2b4;
                transition: 400ms;

                &:hover {
                  color: #ffffff;
                }
              }
            }
          }
        }

        a.mainheader-item {
          color: #ffffff !important;
        }

        a.mainitem {
          text-decoration: none;
          color: #afb2b4;
          padding: 0 15px;
          border-left: 1px solid #7c7d7e;
          font-size: 16px;
          transition: 400ms;

          &:hover {
            color: #ffffff;
          }
        }
        a.mainitem2 {
          text-decoration: none;
          color: #afb2b4;
          padding: 0 15px;
          transition: 400ms;
          font-size: 16px;

          &:hover {
            color: #ffffff;
          }
        }
        &:hover {
          .submenu {
            display: block;
          }
        }
      }
    }
  }
}
// end header

// start img-golestan
@keyframes text-gol {
  from {
    margin-top: -260px;
  }
  to {
    margin-top: 30px;
  }
}

@keyframes tea {
  from {
    margin-top: -700px;
  }
  to {
    margin-top: 20px;
  }
}

.img-golestan {
  width: 100%;
  height: 460px;
  background-image: linear-gradient(190deg, #fbfbfb 0%, #d2d2d2 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;

  .text-golestan {
    width: 55%;
    height: 460px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    font-family: iran;
    line-height: 45px;

    .red-text {
      color: #ff0000;
      font-size: 30px;
      margin-top: 60px;
      margin-right: 190px;
    }

    .gray-text {
      color: #58595b;
      font-size: 18px;
      margin-right: 140px;
    }

    .button > a {
      text-decoration: none;
      border: 1px solid lightgray;
      background-color: white;
      padding: 7px 23px;
      font-family: iran;
      border-radius: 8px;
      color: #7c7d7e;
      margin-right: -60px;
      transition: 400ms;

      &:hover {
        background-color: #ff0000;
        color: white;
      }
    }
  }

  pre.text-ghorekeshi {
    color: #898989;
    font-family: iran;
    line-height: 33px !important;
    margin-top: 30px;
    margin-right: 175px;
    animation-name: text-gol;
    animation-duration: 2s;
  }

  .image-gol {
    width: 45%;
    height: 460px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    img {
      margin-top: 20px;
      margin-left: 150px;
      animation-name: tea;
      animation-duration: 3s;
    }
  }
}
// end img-golestan

// start text 
@keyframes text {
    from{margin-right: -1500px;}
    to{margin-right: 3px;}
}

.maintext1 {
  width: 100%;
  height: 770px;
  display: grid;
  grid-template-rows: 2fr 1fr;

  .moarefi {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    animation-name: text;
    animation-duration: 1.5s;
   
  }

  .mahsolat{

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    animation-name: text;
    animation-duration: 1.5s;
   

    h2{
        margin-top: -80px;
    }
   
  }
}

h2{
    color: #ff0000;
    font-family: iran;
    font-size: 20px;
    margin-right: -560px;
    margin-bottom: 17px;
    vertical-align: top;
 
}

pre.every-text{
    font-family: iran;
    color: #7A7A7A;
    font-size: 17px;
    line-height: 35px;

    span.red-word{
        color: #ff0000 !important;
    }
}

.hadaf{
    margin-top: 5px;
}
// end text 
// start fourimg 

@keyframes four {
    from{scale: 0%}
    to{scale: 100%;}
}

.main-four{
    width: 55%;
    height: 290px;
    margin: 50px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    margin-top: -20px;
    animation-name: four;
    animation-duration:1.3s;
    margin-bottom: 100px;


    div[class^="image"]{
        width: 25%;
        height: 250px;
        margin: 0 5px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: top;
        border-bottom: 1px solid lightgray;


        p{
            font-family: iran;
            color: #7C7D7E;
            margin-top: 20px;
        }
    }
}
// end fourimg 
// start main-photo 
.main-photo{
    width: 100%;
    height: 510px;
    margin-top: 20px;
    background-color: #f2dfab;
    position: relative;
    margin-bottom: 40px;

    img{
        width: 100%;
        height: 96%;
        object-fit: cover;
    }

    .red-div{
        width: 290px;
        height: 95px;
        position: absolute;
        background-color: #ED1C24;
        margin-top: -80px;
        margin-right: 350px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        line-height: 40px;

        h3{
            color: white;
            font-family: iran;
            font-weight: lighter;
            font-size: 29px;
            margin-right: -90px;

        }

        p{
            color: white;
            font-family: iran;
            font-size: 15px;
            margin-right: -130px;
        }
    }

   
}
.ricetext{
    width: 100%;
    height: 270px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.ricebtn{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    margin-top: -60px;
    margin-bottom: 50px;

    .rice-btn>a{
        text-decoration: none;
            border: 1px solid lightgray;
            background-color: white;
            padding: 7px 23px;
            font-family: iran;
            border-radius: 8px;
            color: #7c7d7e;
            transition: 400ms;
            margin-right: 410px;
           

            &:hover {
              background-color: #ff0000;
              color: white;
            }
    }

    .rice-btn2>a{
        text-decoration: none;
        border: 1px solid lightgray;
        background-color: white;
        padding: 7px 23px;
        font-family: iran;
        border-radius: 8px;
        color: #7c7d7e;
        transition: 400ms;
        margin-right: 5px;

        &:hover {
          background-color: #ff0000;
          color: white;
        }
    }
}

.teatext{
    width: 100%;
    height: 220px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.teatext2{
    width: 100%;
    height: 270px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.teabtn{
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    margin-top: -50px;


    .tea-btn>a{
        text-decoration: none;
        border: 1px solid lightgray;
        background-color: white;
        padding: 7px 23px;
        font-family: iran;
        border-radius: 8px;
        color: #7c7d7e;
        transition: 400ms;
        margin-right: 390px;
        margin-top: -80px !important;

        &:hover {
          background-color: #ff0000;
          color: white;
        }
    }
}

// .button-rice > a {
//     text-decoration: none;
//     border: 1px solid lightgray;
//     background-color: white;
//     padding: 7px 23px;
//     font-family: iran;
//     border-radius: 8px;
//     color: #7c7d7e;
//     margin-right: -60px;
//     transition: 400ms;
//   
  

//     &:hover {
//       background-color: #ff0000;
//       color: white;
//     }
//   }
// end main-photo
